.dashboard-main {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
}

.overview-top,
.overview-bottom {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.overview {
  display: flex;
  flex-direction: row;
}
.overview-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: hsl(241.54deg 52.94% 43.33%);
  padding: 0px 10px 5px 10px;
}
.overview-header h5 {
  color: hsl(242, 53%, 63%);
}
.overview-left,
.overview-right {
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .dashboard-main {
    margin-left: 0px;
  }
  .overview-top,
  .overview-bottom {
    flex-direction: column;
  }
  .overview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overview-left,
  .overview-right {
    width: 95%;
    padding: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .overview {
    width: 100%;
  }
  .overview-top {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .overview {
    width: 100%;
  }
}
