.simple-appt-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 227, 248);
  padding: 1.5rem;
  border-radius: 30px;
  min-width: 180px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}
.simple-appt-details {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.simple-appt-title {
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .simple-appt-card {
    width: 100%;
    min-width: 20px;
  }
  .simple-appt-details {
    flex-direction: row;
    justify-content: space-between;
  }
  .simple-appt-title {
    font-size: 14px;
  }
  .simple-appt-card h5 {
    font-size: 10px;
  }
}
