.upcoming-schedule {
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  border-radius: 16px;
  margin-bottom: 0%;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: hsl(242, 53%, 34%);
}

.day-group {
  margin-bottom: 1.5rem;
}

.day-label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #111827;
}

.cards-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 0.9rem;
  }
  .day-label {
    font-size: 0.9rem;
  }
}
