.upcoming-schedule {
  /* background-color: white; */
  /* color: hsl(246deg 32.89% 29.8%); */
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  border-radius: 16px;
  margin-bottom: 0%;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
  /* margin-top: 2rem; */
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: hsl(242, 53%, 34%);
}

.day-group {
  margin-bottom: 1.5rem;
}

.day-label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #111827;
}

.cards-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
  .section-title {
    font-size: 0.9rem ;
  }
  .day-label{
    font-size: 0.9rem;
  }
}