.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-bottom: 20px;
}



.search-bar input {
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 250px;
  background-color: #f0f4ff;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-btn,
.add-btn {
  background-color: #f0f4ff;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: not-allowed;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
